/* first part */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section {
    width: 1150px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
}

.half-container1 {
    position: absolute;
    width: 531px;
    height: 424px;
    left: 106px;
    top: 161px;
    color: white;
}

#first-paragraph {
    margin-bottom: 30px;
}

.half-container2 {
    position: absolute;
    width: 581px;
    height: 613px;
    left: 801px;
    top: 83px;
    color: white;
}

h1 {
    font-size: 50px;
}

.flexible-container {
    display: flex;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font: 700;
    border-radius: 5px;
    margin-top: 30px;
}

.fa-greater-than {
    padding-left: 8px;
}

/* button part */

.special-div {
    margin-top: 70px;
}

.special-btn2 {
    background-color: aqua;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    font: 700;
    border-radius: 5px;
    margin-top: 30px;
}

.special-btn3 {
    background-color: aqua;
    color: black;
    text-decoration: none;
    padding: 10px 40px;
    font: 700;
    border-radius: 5px;
    margin-top: 30px;
}

/* blogs part */

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.blog {
    border: 2px solid whitesmoke;
}

.blog-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-banner {
    display: flex;
}

.blog-banner>h3 {
    margin-left: 6px;
    margin-right: 6px;
}

.blog-banner img {
    width: 112px;
    height: 52px;
}

.footer-class {
    background-color: black;
    text-align: center;
    color: white;
    background: #161616;
}

/* footer part */

footer>hr {
    width: 80%;
}

/* Media Queries */
/* Mobile Devices */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .top-section {
        width: 100%;
    }

    .courses .footer-class {
        grid-template-columns: repeat(1, fr);
    }

}

/* tablet devices */

@media only screen and (min-width: 688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .top-section {
        width: 100%;
    }

    .courses .footer-class {
        grid-template-columns: repeat(2, 1fr);
    }


}